@model TR_I_FO___Inventry_VERSION__2.Models.Databases.ImportList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ImportList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sProduct_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sProduct_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.d_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.d_Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cust_quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cust_quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Import">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
